*{
    font-family: "montserrat", "sans-serif";
}

.row{
    height:100%;
    z-index: 0;
}

#book{
    width:48%;
    padding: 2em 1em 4em 1em;
    background-color: aliceblue;
    border-radius: 8px;
    margin:10px auto;
}
h1{
    color:#007bff;
}
.site-desc{
    padding: 1em 0 1em 0;
}
.title{
    text-align: left;
}
p{
    font-weight: 400;
}
.hidden-form{
    display:none;
    flex-direction: column;
    position: relative;
    width:fit-content;
    height:fit-content;
    padding:1em 2em 3em 2em;
    z-index: 10000;
    background-color: aliceblue;
}

#header{
    background-color: #007bff;
    color:white !important;
    margin-bottom:1rem;
    padding-top:1rem;
}

#header h1{
    color:white;
    padding-left:1rem;
    margin-right:auto;
}

#header button{
    margin: auto 1rem auto auto;
    background-color: aliceblue;
    color:#007bff;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    height: 90%;
}

#plusbtn{
    padding: 0 9px 0 9px;
    font-weight: 700;
    font-size: 1.4em;
    border-radius: 25%;
}

@media only screen and(max-width:600px){
    .container{
        width:95% !important;
    }

}